[tool.poetry]
name = "ipsuite"
version = "0.1.0a0"
description = "A suite of tools for machine learned interatomic potentials."
authors = ["zincwarecode <zincwarecode@gmail.com>"]
keywords = ["data-version-control", "machine-learning", "reproducibility", "interatomic potentials"]
license = "EPL-2.0"
readme = "README.md"

[tool.poetry.dependencies]
# tensorflow-io-gcs-filesystem
python = ">=3.10,<3.12"
ase = "^3.22.1"
znslice = "^0.1.3"
zntrack = {git = "https://github.com/zincware/zntrack", rev = "add_znflow"}
seaborn = "^0.12.2"
cp2k-input-tools = "^0.8.2"
cp2k-output-tools = "^0.5.0"


#[tool.poetry.group.comparison.dependencies]
h5py = { version = "^3.8.0", optional = true }
tensorflow = { version = "^2.11.0", optional = true }
llvmlite = { version="^0.39.1", optional = true }
numba = { version = "^0.56.4", optional = true }
dscribe = { version = "^1.2.2", optional = true }


#[tool.poetry.group.GAP.dependencies]
quippy-ase = { version = "^0.9.12", optional = true }
xmltodict = "^0.13.0"



nequip = { version = "^0.5.6", optional = true }
zninit = "^0.1.9"
znh5md = "^0.1.0"
[tool.poetry.group.allegro.dependencies]
mir-allegro = { git = "https://github.com/mir-group/allegro.git" }


[tool.poetry.group.mace.dependencies]
mace = { git = "https://github.com/ACEsuit/mace.git" }


[tool.poetry.group.lint.dependencies]
black = "^23.1.0"
isort = "^5.12.0"
ruff = "^0.0.252"

[tool.poetry.group.notebook.dependencies]
jupyterlab = "^3.6.1"

[tool.poetry.group.test.dependencies]
pytest = "^7.2.1"
coverage = "^7.2.1"

[tool.poetry.extras]
comparison = ["h5py", "tensorflow", "llvmlite", "numba", "dscribe"]
gap = ["quippy-ase", "xmltodict"]
nequip = ["nequip"]


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = 'black'
multi_line_output = 3

[tool.black]
line-length = 90
preview = true


[tool.ruff]
# Enable pycodestyle (`E`) and Pyflakes (`F`) codes by default.
select = ["A", "B", "C", "D", "E", "F"]
ignore = ["D203", "D213"]

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "venv",
    "tests",
]
per-file-ignores = { }

# Same as Black.
line-length = 90

# Assume Python 3.10.
target-version = "py310"
