gap_fit e0_method={{ gap_parameter.e0_method }} at_file={{ general_params.atoms_filename }}
gap={
{%- if distance_nb is defined -%}
    distance_Nb
    order={{ distance_nb.order }}
    cutoff={{ distance_nb.cutoff }}
    covariance_type={{ distance_nb.covariance_type }}
    delta={{ distance_nb.delta }}
    sparse_method={{ distance_nb.sparse_method }}
    add_species={{ distance_nb.add_species }}
    n_sparse={{ distance_nb.n_sparse }}
    theta_uniform={{ distance_nb.theta_uniform }}
    {%- if soap is defined -%}
        :
    {%- endif -%}
{%- endif -%}
{%- if soap is defined -%}
    soap
    l_max={{ soap.l_max }}
    n_max={{ soap.n_max }}
    cutoff={{ soap.cutoff }}
    atom_sigma={{ soap.sigma }}
    zeta={{ soap.zeta }}
    cutoff_transition_width={{ soap.cutoff_transition_width }}
    delta={{ soap.delta }}
    covariance_type={{ soap.covariance_type }}
    n_sparse={{ soap.n_sparse }}
    sparse_method={{ soap.sparse_method }}
    add_species={{ soap.add_species }}
{%- endif -%}
}
gp_file={{ general_params.gp_file }}
default_sigma={{ gap_parameter.default_sigma }}
sparse_jitter={{ gap_parameter.sparse_jitter }}
{% if general_params.use_energy %}
    energy_parameter_name=energy
{% else %}
    energy_parameter_name=no_use
{% endif %}
{% if general_params.use_forces %}
    force_parameter_name=forces
{% else %}
    force_parameter_name=no_use
{% endif %}
{% if general_params.use_stresses %}
    stress_parameter_name=stress
    virial_parameter_name=DUMMY
{% else %}
    virial_parameter_name=DUMMY
    stress_parameter_name=DUMMY
{% endif %}
>> {{ general_params.gp_dump }}
